@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');
body{
    margin:0;
    padding:0;
    max-height:100vh;
    width:100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:  hsl(30, 38%, 92%);
}
#card{
    width:650px;
    min-height: 500px;
    border-radius: 10px;
    display: flex;
    overflow: hidden;
    background-color:hsl(0, 0%, 100%) ;
}
.img-box  {
    width:100%;
    height:contain;
    float: left;

}
img{
    height:100%;
    width:100%;
}

h1{
    font-weight: 700;
    color:hsl(212, 21%, 14%);
    font-family: 'Fraunces', serif;
}
.subtitle{
    font-weight: 500;
    line-height: 20px;
}
.heading-subtitle{
    letter-spacing: 3px;
}
p{
    font-size: 14px;
    font-weight: 500;
    color: hsl(228, 12%, 48%);
    font-family: 'Montserrat', sans-serif;
}
.left-content{
    width:70%;
    padding:20px 70px ;
    display: block;
}
.currentprice{
    font-weight: 700;
    font-size: 31px;
    padding:20px 10px 20px 0px;
    color: hsl(158, 36%, 37%);

}
.previousprice{
    font-weight: 400;
    text-decoration: line-through;
    color: hsl(228, 12%, 48%);
}
svg{
    padding-right:10px;
}
button{
    border-radius: 5px;
    border: none;
    width:100%;
    padding:15px;
    color:hsl(0, 0%, 100%) ;
    background-color: hsl(158, 36%, 37%);
}
ul, li{
    padding:0;
    margin:0 ;
    display: inline-block;
    font-family: 'Fraunces', serif;
}
@media screen and (max-width:400px) {
    .img-box{
        float:none;
        height:30%;
    }

    #card{
        display: block;
        width:350px;
        /* min-height: 500px; */
    }
    .left-content{
        width:fit-content;
        padding:20px ;
    }
    button{
        width:100%;
    }
}